@import "bootstrap/dist/css/bootstrap.min.css";

/* base */
:root {
  color-scheme: light dark;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus {
  -webkit-box-shadow: 0 0 0 1000px #fff inset !important;
  -webkit-text-fill-color: #000 !important; 
}

/* layout */
body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

#app {
  display: flex;
  flex-direction: column;

  width: 100%;
  min-height: 100vh;
}

.main {
  display: flex;
  flex-direction: column;
  width: 100%;
  flex: 1 0 auto;
}

.footer {
  margin-top: auto;
  flex: 0 0 auto;
}

/* app */
.form-submit {
  min-height: 58px;
}